#footer
  #back-to-top.scroll-to(data-scroll-to="#videos", data-scroll-duration="2000")
    i#up-arrow.icomoon.fa-angle-double-up
  #footer-logo
  #footer-copyright Copyright &#169; 2016 Julia Estrada All Rights Reserved
