hr.footer-split
footer.col-xs-12
  .back-to-top.scroll-to(data-scroll-to="body")
    i.fa.fa-angle-double-up
  .footer-logo
  .footer-copyright Copyright &#169; 2016 Julia Estrada All Rights Reserved
