script(type='text/javascript').
  
  // detect iPhone/ipod
  window.isIOS = navigator.userAgent.match(/iPhone|ipod/i);

  // Converts touch to hover for mobile and tablet
  document.addEventListener("touchstart", function(){}, true);

  // move to the top of site
  window.onunload = function(){
    document.getElementById('img-init').className.replace(' show','');
    if(!isIOS) window.scrollTo(0,0);
  };

  // Handles expedited image load at top of page
  function landing(){
    if(isIOS && navigator.userAgent.match(/AppleWebKit/)) {
      var downAnim = document.getElementById('down-anim')
      downAnim.parentNode.removeChild(downAnim);
    }
    document.getElementById('loader-wrapper').className += 'loading-spinner-hide';
    setTimeout(function() {
      document.getElementById('img-init').className += ' show';
      document.getElementById('landing-head').className += ' show';
      document.getElementById('landing-content').className += ' show';
      setTimeout(function(){
        if(calcTriggerPoints) calcTriggerPoints();
      },250);
      delete landing;
    },250);
  }
  
  // avoids showing page before javascript is loaded
  with(document.documentElement){className=className.replace(/\bno-js\b/,'js')}

<!--[if IE]>
<style>.video-icon {left:50%;}</style>
<![endif]-->
