extends layout

block content

	include landing
	link(rel='stylesheet', type='text/css', href='/immediate.css')
	include title
	#wrapper(style="transform: translate3d(0,0,0)")
		include videos
		include photos
		include press
		include contact
		include footer
