doctype html
html(class="no-js")
  head
    title= locals.title
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no')
    include loaderStyling
    include immediateScript
    script(type='text/javascript', src='/index.min.js', async)
  body
    
    block content
