#photos
  img(src="/images/headshot_2.jpg").float-fold.vertical
  img(src="/images/production_one_1.png").float-fold.horizontal
  img(src="/images/production_one_4.jpg").float-fold.horizontal
  img(src="/images/production_one_2.png").float-fold.vertical
  img(src="/images/production_one_3.png").float-fold.vertical
  img(src="/images/production_two_2.png").float-fold.horizontal
  img(src="/images/headshot_3.jpg").float-fold.horizontal
  img(src="/images/production_two_1.png").float-fold.vertical
  img(src="/images/production_two_3.jpg").float-fold.vertical
  img(src="/images/production_one_5.jpg").float-fold.horizontal
  img(src="/images/production_one_6.jpg").float-fold.horizontal
  .Modal(class="hidden")
    img.Modal-content-container-current-photo(src="")
    .Modal-content-container-closeBtn(class="module-btn")
      svg(viewBox="0 0 48 48", width="48", height="48")
        path(d="M38 12.83l-2.83-2.83-11.17 11.17-11.17-11.17-2.83 2.83 11.17 11.17-11.17 11.17 2.83 2.83 11.17-11.17 11.17 11.17 2.83-2.83-11.17-11.17z")
          path(d="M0 0h48v48h-48z", fill="none")
