#photos
  img(src="/images/headshot_2.jpg").float-fold.vertical
  img(src="/images/production_one_1.png").float-fold.horizontal
  img(src="/images/production_one_4.jpg").float-fold.horizontal
  img(src="/images/production_one_2.png").float-fold.vertical
  img(src="/images/production_one_3.png").float-fold.vertical
  img(src="/images/production_two_2.png").float-fold.horizontal
  img(src="/images/headshot_3.jpg").float-fold.horizontal
  img(src="/images/production_two_1.png").float-fold.vertical
  img(src="/images/production_two_3.jpg").float-fold.vertical
  img(src="/images/production_one_5.jpg").float-fold.horizontal
  img(src="/images/production_one_6.jpg").float-fold.horizontal
