article#press
  .inner
    section.press-sect.col-sm-6.col-xs-12
      .press-icon.landing-icon-journal-tribune
        span.text-behind-logo Journal Tribune
      |         
      p.quote
        | &quot;Julia Estrada as Maria was outstanding. Her clear, sweet soprano voice was equal to the demands of the score. I predict a bright future for her.&quot;
    |       
    section.press-sect.col-sm-6.col-xs-12
      a(href='http://www.forbes.com/sites/petercohan/2014/03/12/how-wall-street-bets-on-interest-rates/')
        .press-icon.landing-icon-seacoast
          span.text-behind-logo Seacoast
      |         
      p.quote
        | &quot;Maria, played by Julia Estrada, has a sweet, angelic soprano with a youthful touch. Estrada plays Maria as a young girl, obsessed and in awe of her good fortune in finding Tony. Estrada is lovely and ethereal as Maria.&quot;
