#press
  .table
    .table-row
      section.press-sect
        img(src="/images/journal_tribune.png").press-icon.landing-icon-journal-tribune
        |         
        p.quote
          | #[i.fa.fa-quote-left] Julia Estrada as Maria was outstanding. Her clear, sweet soprano voice was equal to the demands of the score. I predict a bright future for her.&quot;
        span.author -Morton Gold, Journal Tribune
      |       
      section.press-sect
        img(src="/images/sea_coast_online.png").press-icon.landing-icon-seacoast
        |         
        p.quote
          | #[i.fa.fa-quote-left] Maria, played by Julia Estrada, has a sweet, angelic soprano with a youthful touch. Estrada plays Maria as a young girl, obsessed and in awe of her good fortune in finding Tony. Estrada is lovely and ethereal as Maria.&quot;
        span.author -Laurel Vincentio, seacoastonline.com
