article#blurbs
    .inner
        section
          a(href='http://dealbook.nytimes.com/2014/07/28/online-tool-for-young-bankers-raises-1-million-in-funding/')
            span.tn-icon.landing-icon-dealbook-normal
              span DealBook
          |         
          p
            | &quot;Thinknum makes it easier to value companies without creating spreadsheets from scratch.&quot;
        |       
        section
          a(href='http://www.forbes.com/sites/petercohan/2014/03/12/how-wall-street-bets-on-interest-rates/')
            span.tn-icon.landing-icon-forbes-normal
              span Forbes
          |         
          p
            | &quot;Get your hands on the tools that Wall Street traders use.&quot;
        |       
        section
          a(href='http://techcrunch.com/2014/03/15/in-a-changing-financial-world-thinknum-wants-to-democratize-financial-analysis/')
            span.tn-icon.landing-icon-techcrunch-normal
              span TechCrunch
          |         
          p
            | &quot;Better collaboration around models could do for finance what GitHub did for programmers.&quot;
        |       
        section
          a(href='http://www.barrons.com/news/articles/SB50001424053111904732704579543823673900210')
            span.tn-icon.landing-icon-barrons-normal
              span Barron&apos;s
          |         
          p
            | &quot;Thinknum allows number-crunchers to create their own models or modify those in their library&quot;
