script(type='text/javascript').
  // forces user to the top of the page on refresh
  window.onunload = function() {
    window.scrollTo(0,0);
  };
  
  // Converts touch to hover for mobile and tablet
  document.addEventListener("touchstart", function(){}, true);

  // Handles expedited image load at top of page
  function landing(){
    setTimeout(function() {
      window.scrollTo(0,0), 90
      document.getElementsByClassName('img-init')[0].className += ' show';
      document.getElementsByClassName('landing-head')[0].className += ' show';
      document.getElementsByClassName('landing-content')[0].className += ' show';
      delete landing;
    },50);
  }
  
  // avoids showing page before javascript is loaded
  with(document.documentElement){className=className.replace(/\bno-js\b/,'js')}
