script(type='text/javascript').
  // Converts touch to hover for mobile and tablet
  document.addEventListener("touchstart", function(){}, true);

  // Handles expedited image load at top of page
  function landing() {
      document.getElementsByClassName('img-init')[0].className += ' show';
      document.getElementsByClassName('landing-head')[0].className += ' show';
      document.getElementsByClassName('landing-content')[0].className += ' show';
      delete landing;
  };
  with(document.documentElement){className=className.replace(/\bno-js\b/,'js')}
