ul#title
  li.title-section.scroll-to(data-scroll-to="#videos")  Videos
  li.title-section.scroll-to(data-scroll-to="#photos")  Photos
  img#title-main(src= locals.siteHeader.image)
  li.title-section.scroll-to(data-scroll-to="#press")  Press
  li.title-section.scroll-to(data-scroll-to="#contact") Contact
  .paper-resume-wrapper
    a.paper-resume(href= locals.siteHeader.resumeLink, target="_blank")
