ul.title
  li.title-section.scroll-to(data-scroll-to="#videos")  Videos
  li.title-section.scroll-to(data-scroll-to="#resume")  Resume
  img.title-main(src= locals.siteHeader.image)
  li.title-section.scroll-to(data-scroll-to="#press")  Press
  li.title-section.scroll-to(data-scroll-to="#contact") Contact
