#videos
  .bill-container.bill-container-1
    a.video-btn(href="javascript:void(0);", target="_self", data-modalid="vid1")
    .top 
      .text-container
        .main-text Out Tonight
        .description-text #[i Mimi], Rent, Texas State University 
    .picture(style="background-image:url('/images/video_1.jpg');")
      svg.video-icon(version="1.1", x="0px", y="0px", viewBox="0 0 314.068 314.068")
        path(d="M293.002,78.53C249.646,3.435,153.618-22.296,78.529,21.068C3.434,64.418-22.298,160.442,21.066,235.534 c43.35,75.095,139.375,100.83,214.465,57.47C310.627,249.639,336.371,153.62,293.002,78.53z M219.834,265.801 c-60.067,34.692-136.894,14.106-171.576-45.973C13.568,159.761,34.161,82.935,94.23,48.26 c60.071-34.69,136.894-14.106,171.578,45.971C300.493,154.307,279.906,231.117,219.834,265.801z M213.555,150.652l-82.214-47.949 c-7.492-4.374-13.535-0.877-13.493,7.789l0.421,95.174c0.038,8.664,6.155,12.191,13.669,7.851l81.585-47.103 C221.029,162.082,221.045,155.026,213.555,150.652z")
      iframe.video(id="video-iframe", data-videoid="vid1", data-autoplay="true", src="http://www.youtube.com/embed/0T0RyfgNsGM?start=10&amp;controls=1&amp;modestbranding=0&amp;rel=0&amp;showinfo=0&amp;enablejsapi=1", allowfullscreen)
  .bill-container.bill-container-2
    a.video-btn(href="javascript:void(0);", target="_self", data-modalid="vid2")
    .top 
      .text-container
        .main-text The Witch
        .description-text Andrew Lippa In Concert
    .picture(style="background-image:url('/images/video_2.jpg');")
      svg.video-icon(version="1.1", x="0px", y="0px", viewBox="0 0 314.068 314.068")
        path(d="M293.002,78.53C249.646,3.435,153.618-22.296,78.529,21.068C3.434,64.418-22.298,160.442,21.066,235.534 c43.35,75.095,139.375,100.83,214.465,57.47C310.627,249.639,336.371,153.62,293.002,78.53z M219.834,265.801 c-60.067,34.692-136.894,14.106-171.576-45.973C13.568,159.761,34.161,82.935,94.23,48.26 c60.071-34.69,136.894-14.106,171.578,45.971C300.493,154.307,279.906,231.117,219.834,265.801z M213.555,150.652l-82.214-47.949 c-7.492-4.374-13.535-0.877-13.493,7.789l0.421,95.174c0.038,8.664,6.155,12.191,13.669,7.851l81.585-47.103 C221.029,162.082,221.045,155.026,213.555,150.652z")
      iframe.video(id="video-iframe", data-videoid="vid2", data-autoplay="true", src="http://www.youtube.com/embed/kaSX0BSrvF8?start=10&amp;controls=1&amp;modestbranding=0&amp;rel=0&amp;showinfo=0&amp;enablejsapi=1", allowfullscreen)
  .bill-container.bill-container-3
    a.video-btn(href="javascript:void(0);", target="_self", data-modalid="vid3")
    .top 
      .text-container
        .main-text Singing
        .description-text Singing
    .picture(style="background-image:url('/images/video_3.png');")
      svg.video-icon(version="1.1", x="0px", y="0px", viewBox="0 0 314.068 314.068")
        path(d="M293.002,78.53C249.646,3.435,153.618-22.296,78.529,21.068C3.434,64.418-22.298,160.442,21.066,235.534 c43.35,75.095,139.375,100.83,214.465,57.47C310.627,249.639,336.371,153.62,293.002,78.53z M219.834,265.801 c-60.067,34.692-136.894,14.106-171.576-45.973C13.568,159.761,34.161,82.935,94.23,48.26 c60.071-34.69,136.894-14.106,171.578,45.971C300.493,154.307,279.906,231.117,219.834,265.801z M213.555,150.652l-82.214-47.949 c-7.492-4.374-13.535-0.877-13.493,7.789l0.421,95.174c0.038,8.664,6.155,12.191,13.669,7.851l81.585-47.103 C221.029,162.082,221.045,155.026,213.555,150.652z")
      iframe.video(id="video-iframe", data-videoid="vid3", data-autoplay="true", src="http://www.youtube.com/embed/t8k5ELFvdpw?start=24&amp;end=167&amp;controls=1&amp;modestbranding=0&amp;rel=0&amp;showinfo=0&amp;allowfullscreen=1&amp;enablejsapi=1", allowfullscreen)
  //- .Modal-wrapper
  //-   .Modal(class="hidden", data-modalid="vid1")
  //-     .Modal-container
  //-       iframe(width="800", height="450", id="video-iframe", data-autoplay="false", src="http://www.youtube.com/embed/kaSX0BSrvF8?controls=1&amp;modestbranding=0&amp;rel=0&amp;showinfo=0&amp;enablejsapi=1")
  //-       .Modal-closeBtn(class="module-btn")
  //-         svg(viewBox="0 0 48 48", width="48", height="48")
  //-           path(d="M38 12.83l-2.83-2.83-11.17 11.17-11.17-11.17-2.83 2.83 11.17 11.17-11.17 11.17 2.83 2.83 11.17-11.17 11.17 11.17 2.83-2.83-11.17-11.17z")
  //-             path(d="M0 0h48v48h-48z", fill="none")
  //- .Modal-wrapper
  //-   .Modal(class="hidden", data-modalid="vid2")
  //-     .Modal-container
  //-       iframe(width="800", height="450", id="video-iframe", data-autoplay="false", src="http://www.youtube.com/embed/0T0RyfgNsGM?controls=1&amp;modestbranding=0&amp;rel=0&amp;showinfo=0&amp;enablejsapi=1")
  //-       .Modal-closeBtn(class="module-btn")
  //-         svg(viewBox="0 0 48 48", width="48", height="48")
  //-           path(d="M38 12.83l-2.83-2.83-11.17 11.17-11.17-11.17-2.83 2.83 11.17 11.17-11.17 11.17 2.83 2.83 11.17-11.17 11.17 11.17 2.83-2.83-11.17-11.17z")
  //-             path(d="M0 0h48v48h-48z", fill="none")
  //- .Modal-wrapper
  //-   .Modal(class="hidden", data-modalid="vid3")
  //-     .Modal-container
  //-       iframe(width="800", height="450", id="video-iframe", data-autoplay="false", src="http://www.youtube.com/embed/t8k5ELFvdpw?start=24&amp;end=167&amp;controls=1&amp;modestbranding=0&amp;rel=0&amp;showinfo=0&amp;enablejsapi=1")
  //-       .Modal-closeBtn(class="module-btn")
  //-         svg(viewBox="0 0 48 48", width="48", height="48")
  //-           path(d="M38 12.83l-2.83-2.83-11.17 11.17-11.17-11.17-2.83 2.83 11.17 11.17-11.17 11.17 2.83 2.83 11.17-11.17 11.17 11.17 2.83-2.83-11.17-11.17z")
  //-             path(d="M0 0h48v48h-48z", fill="none")
