// being compiled and included in "style" tag

$max: 10;
$animTime: 2;
$angle: 360/$max;
$size: 62px;

#loader-wrapper {
  @include vend(transform, translate(-50%, -50%));
  @include vend(transition, (opacity .3s ease-in-out, visibility 0s .3s));
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: $size;
  height: $size;
}

#loader {
  width: $size;
  height: $size;
}

.loading-spinner-hide {
  visibility: hidden;
  opacity: 0;
}

@function transform($item: 1){
  $base: rotate(#{-$angle*$item}deg) translate(5px, 5px);
  @return $base;
}

.g--circle {
  animation: opacity #{$animTime}s linear infinite;
  fill: $white;
  .u--circle {
    animation: transform #{$animTime}s linear infinite;
  }

  @for $item from 1 through $max {
    &:nth-child(#{$max}n + #{$item}){
      animation-delay: -#{$item * $animTime/$max *.6}s;
      transform: transform($item) scale(.9);
      .u--circle{
        animation-delay: -#{$item * $animTime/$max * .85}s;
      }
    }
  }
}

@keyframes opacity {
  3% {
    fill-opacity: 1;
  }
  75% {
    fill-opacity: 0;
  }
}

@keyframes transform {
  10.5% {
      transform-origin: 30px 30px;
      transform: scale(.75);
    }
}

@-o-keyframes transform {
  10.5% {
      -o-transform-origin: 30px 30px;
      -o-transform: scale(.75);
    }
}

@-o-keyframes opacity {
  3% {
    fill-opacity: 1;
  }
  75% {
    fill-opacity: 0;
  }
}

@-ms-keyframes transform {
  10.5% {
      -ms-transform-origin: 30px 30px;
      -ms-transform: scale(.75);
    }
}

@-ms-keyframes opacity {
  3% {
    fill-opacity: 1;
  }
  75% {
    fill-opacity: 0;
  }
}

@-moz-keyframes transform {
  10.5% {
      transform-origin: 30px 30px;
      transform: scale(.75);
    }
}

@-moz-keyframes opacity {
  3% {
    fill-opacity: 1;
  }
  75% {
    fill-opacity: 0;
  }
}

@-webkit-keyframes transform {
  10.5% {
      transform-origin: 30px 30px;
      transform: scale(.75);
    }
}

@-webkit-keyframes opacity {
  3% {
    fill-opacity: 1;
  }
  75% {
    fill-opacity: 0;
  }
}
