#Modal-wrapper {
  @include vend(transition, (visibility 0s 0s, opacity 0.65s 0s));
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 7;
  opacity: 1;

  &.hidden {
    @include vend(transition, (visibility 0s 0.65s, opacity 0.65s 0s));
    visibility: hidden;
    opacity: 0;
  }

  *:focus {
    outline: 0;
  }
}

#Modal-shadow {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,.88);
  z-index: 0;
}

#Modal {
  position: fixed;
  top: 20%;
  height: 60%;
  left: 0;
  right: 0;
  z-index: 1;
}

.modal-image-wrapper {
  height: 100%;
}

.slick-list, .slick-track, .modal-image {
  height: 100%;
}

.slick-slide {
  margin: 0 0.04%;
}

.slick-list {
  margin: 0 -0.04%;
  overflow: visible;
}

@media (max-width: $tablet-max) {
  .slick-slide {
    margin: 0 0.025%;
  }
  .slick-list {
    margin: 0 -0.025%;
  }
}

@media (max-width: $phone-max) {
  .slick-slide {
    margin: 0 0.015%;
  }
  .slick-list {
    margin: 0 -0.015%;
  }
}

// .modal-image {
//
// }

.modal-caption {
  @include vend(transition, opacity 0.5s 0s);
  position: absolute;
  top: 101.5%;
  color: white;
  width: 100%;
  text-align: center;
  font-size: 2.25vh;
  opacity: 0;
  @media (max-height: 888px) {
    font-size: 2rem;
  }
}

.slick-center {
  .modal-caption {
    opacity: 1;
  }
}
