// Title section
#title, #place-holder {
    height: #{$title-height}vh;
    min-height: 80px;
    width: 100%;
}
#title {
    @include vend(transform, translateZ(0));
    background-color: $theme-color !important;
    background-size: 0 !important;
    left: 0;
    padding: 2px 0;
    margin: 0;
    z-index: 6;
    box-shadow: 0 0 4px rgba(16,19,29,0.14), 0 4px 8px rgba(16,19,29,0.28);
    text-align: center;
    color: $white;
    white-space: nowrap;
    max-width: 100%;

    .title-section {
        @include vend(transition, (opacity .5s ease-in-out, text-shadow .25s ease-in-out));
        opacity: 0;
        min-width: 92px;
        width: 6.5%;
        font-size: 2.25vh;
        font-weight: 300;
        cursor: pointer;
        &:hover, &.active {
          text-shadow: 0 -1.5px 3px $white;
        }
        @media (max-height: 888px) {
          font-size: 2.25rem;
        }
    }
    .paper-resume-wrapper {
        @include vend(transition, (visibility 0s linear .4s, transform ease-in-out .4s));
        @include vend(transform, translateX(calc(100% + 25px)));
        @include vend(border-radius, 50%);
        position: absolute;
        top: calc(100% + 25px);
        right: 15px;
        height: 110px;
        width: 110px;
        opacity: .999; // super odd fix to webkit bug
        box-shadow: 1px 1px 11px rgba(16,19,29,.28);

        .paper-resume {
            @include vend(transform, rotateZ(90deg));
            top: 5px;
            left: 5px;
            height: 100px;
            width: 100px;
        }

        @media (max-width: $phone-max) {
          display: none;
          .paper-resume {
            @include vend(transform, rotateZ(90deg) translateY(calc(-100% - 25px)) !important);
          }
        }
    }
    &.sticky {
        top: 0;
        position: fixed;
        .paper-resume-wrapper {
            @include vend(transform, rotateZ(0));
        }
        .paper-resume {
            @include vend(transform, rotateZ(0));
        }
    }
    &.show-logo {
        #title-main {
            visibility: visible;
        }
        .title-section {
            opacity: 1;
        }
    }
    @media (max-aspect-ratio: 11/10), (max-width: 824px) {
      .title-section {
        display: none;
      }
    }
}

#title-main {
    @include vend(transform, translateY(-50%));
    top: 50%;
    max-height: 100%;
    max-width: 100%;
    visibility: hidden;
}

#title-main, .title-section {
    display: inline-block;
}

.paper-resume {
    @include vend(transition, (transform .4s ease-in-out .04s, background-color .3s ease-in-out));
    display: block;
    background-image: url('/images/paper_resume.png');
    background-size: cover;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: $white;
    box-shadow: 0 0 0 5px #4a4849;
    cursor: pointer;

    &:hover {
        background-color: #B5C3EC;
    }

    &.mobile {
      box-shadow: 0 0 0 5px #4a4849, 1px 1px 11px 5px rgba(16,19,29,.28);
    }
}
