// Shared vars
@import 'init';
@include addFont('FaberSansPro-Normal');

// Pre-Load Shader
// head:before {
//     display: none;
//     content: url('/images/shader.png');
// }

// Base formatting
html, body {
    margin: 0;
    width: 100%;
    padding: 0;
    position: absolute;
    z-index: 0;
    cursor: default;
}

body * {
    position: relative;
}

// hr {
//     padding: 0;
//     border-top: 0;
//     margin: 0;
//     width: 100%;
//     clear: both;
// }

a, a:hover, a:visited {
    color: white !important;
    text-decoration: none !important;
    transition: .25s;
}

.dim {
    opacity: .12!important;
}

.disable-link {
    pointer-events: none;
    cursor: default;
}

.disable-link:hover {
    text-shadow: none;
}

.show {
    @include vend(opacity, 1!important);
    visibility: visible!important;
}

.hide {
    visibility: hidden!important;
}

.fade-out {
    @include vend(transition, opacity 1s ease-in-out !important);
    opacity: 0!important;
}

////Landing
// Animation for bottom hover
@-o-keyframes hover-bounce {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(0, 1.5vh);
    }
}

@-ms-keyframes hover-bounce {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(0, 1.5vh);
    }
}

@-moz-keyframes hover-bounce {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(0, 1.5vh);
    }
}

@-webkit-keyframes hover-bounce {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(0, 1.5vh);
    }
}

@keyframes hover-bounce {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(0, 1.5vh);
    }
}

// Landing Head
.landing-head {
    @include vend(transition, opacity 1s ease-in-out 1.15s);
    position: fixed;
    top: calc(39vh + 8px);
    z-index: 10;
    width: 100%;
    height: calc(#{$title-height}vh - 4px);
    min-height: 76px;
}

// Main
#landing {
    height: 100vh;
    background-color: rgb(16,19,29);
    position: relative;
    z-index: -4;
    height: 100vh;
    display: block;
    overflow: hidden;
    border-bottom: solid 2px #222;
    box-sizing: content-box;
    // Image
    .landing-img {
        @include vend(transition, 1.5s);
        position: absolute;
        min-height: 100vh;
        min-width: 100vw;
        &.img-init {
            z-index: -2;
        }
        &.img-tab-1 {
            z-index: -3;
        }
        &.img-tab-2 {
            z-index: -4;
        }
    }
    // Shading
    // .shading {
    //     position: absolute;
    //     z-index: -1;
    //     width: 100%;
    //     height: 100%;
    //     background: url('/images/shader.png') repeat;
    // }
    //white text in landing
    .landing-content {
        @include vend(transition, 1s ease-in-out 1.15s);
        z-index: 1;
        opacity: 0;
        color: white;

        // Landing Tabs
        .landing-info {
	        @include vendVal(display, flex);
            position: absolute;
            text-align: center;
            margin: 0 9vw;
            font-family: 'FaberSansPro-Normal', sans-serif;
            vertical-align: top;
            .landing-tab {
                margin: 0 1.5vw;
                width: 38vw;
                vertical-align: top;
            }
            .tab-1 .head {
                text-align: right;
            }
            .tab-2 .head {
                text-align: left;
            }
            .head {
                cursor: pointer;
                font-size: 25px;
                transition: border-bottom .75s;
                border-bottom: solid 3px rgba(255, 255, 255, 0);
            }
            .head:hover, .landing-active .head {
                border-bottom-color: rgba(255, 255, 255, 1);
            }
            .full {
                @include vend(transition, .5s);
                @include vend(opacity, 0);
                clear: both;
                margin: 1.7vw 14px 0;
                text-align: left;
                font-size: 19px;
                .quote {
                    font-style: italic;
                    text-align: right;
                }
                .email-link {
                    color: white;
                    font-weight: 500;
                    transition: .3s;
                }
                .email-link:hover {
                    text-shadow: 0 0 8px $white;
                    text-decoration: none;
                }
            }
        }
        .down-anim {
            @include vend(animation,
            (hover-bounce ease-in-out 1.5s infinite alternate));
            cursor: pointer;
            position: absolute;
            top: 90vh;
            margin: 0 calc(50vw - 20px);
            font-size: 40px;
            width: 40px;
            text-align: center;
            text-shadow: 0 0 4px $theme-color;
            transition: text-shadow .8s;
        }
        .down-anim:hover {
            text-shadow: 0 0 8px $white;
        }
    }
}

//hide info on phone
@media(max-width: $phone-max) {
    #landing {
        .landing-info,
        .img-tab-1,
        .img-tab-2 {
            display: none !important;
        }
        .img-init {
            right: -222px;
        }
    }
}

// Shared vars
@import 'title';
