// Shared vars
@import 'init/init';
@import 'loadingSpinner/loadingSpinner';
@font-face {
   font-family: 'FaberSansPro-Normal';
   src: url('/fonts/FaberSansPro-Normal/FaberSansPro-Normal.woff') format('woff');
}

// @font-face {
//   font-family: 'fontello';
//   src: url('/fonts/fontello.eot?');
//   src: url('/fonts/fontello.eot?#iefix') format('embedded-opentype'),
//        url('/fonts/fontello.woff') format('woff'),
//        url('/fonts/fontello.ttf') format('truetype'),
//        url('/fonts/fontello.svg?#fontello') format('svg');
// }
//
// [class^="icon-"]:before, [class*=" icon-"]:before {
//   font-family: "fontello";
//   font-style: normal;
//   font-weight: normal;
//   speak: none;
//   display: inline-block;
//   text-decoration: inherit;
//   width: 1em;
//   margin-right: .2em;
//   text-align: center;
//
//   /* For safety - reset parent styles, that can break glyph codes*/
//   font-variant: normal;
//   text-transform: none;
//   line-height: 1.42857;
//   margin-left: .2em;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }
// // Add icon
// .icon-down-open-big:before { content: '\e800'; }

// Attempting to prevent zoom
html {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -ms-text-size-adjust: none;
  font-size: 10px;
}

// Base formatting
html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    z-index: 0;
    position: absolute;
    cursor: default;
}

body {
  line-height: 1.42857;
  font-family:  'FaberSansPro-Normal', sans-serif !important;
  overflow-y: scroll;
  overflow-x: hidden;

  * {
    position: relative;
  }
}

* {
  @include vend(box-sizing, border-box);
}

a, a:hover, a:visited {
  color: white !important;
  text-decoration: none !important;
}

img {
  border: 0;
  vertical-align: middle;
}

// .fa {
//   display: inline-block;
//   line-height: 1.42857 !important;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   text-rendering: auto;
//   transform: translate(0, 0);
// }

// .dim {
//     opacity: .12!important;
// }

.disable-link {
    pointer-events: none;
    cursor: default;
}

.show {
    @include vend(opacity, 1 !important);
    visibility: visible !important;
}

.fade-out {
    @include vend(transition, opacity 1s ease-in-out !important);
    opacity: 0 !important;
}

////Landing
// Animation for bottom hover
@keyframes hover-bounce {
    from {
        transform: translate3d(0,0,0);
    }
    to {
        transform: translate3d(0,1.5vh,0);
    }
}

@-o-keyframes hover-bounce {
    from {
        -o-transform: translate3d(0,0,0);
    }
    to {
        -o-transform: translate3d(0,1.5vh,0);
    }
}

@-ms-keyframes hover-bounce {
    from {
        -ms-transform: translate3d(0,0,0);
    }
    to {
        -ms-transform: translate3d(0,1.5vh,0);
    }
}

@-moz-keyframes hover-bounce {
    from {
        -moz-transform: translate3d(0,0,0);
    }
    to {
        -moz-transform: translate3d(0,1.5vh,0);
    }
}

@-webkit-keyframes hover-bounce {
    from {
        -webkit-transform: translate3d(0,0,0);
    }
    to {
        -webkit-transform: translate3d(0,1.5vh,0);
    }
}

// hide placeholder for fixing title to top
#place-holder.no-show {
    display: none;
}

// Landing Head
#landing-head {
    @include vend(transition, opacity 1s ease-in-out 1.15s);
    position: fixed;
    top: calc(39vh + 8px);
    z-index: 10;
    width: 100%;
    height: calc(#{$title-height}vh - 4px);
    min-height: 76px;
}

.landing-head-hide {
    visibility: hidden !important;
}

#down-anim {
    @include vend(animation, (hover-bounce ease-in-out 1.5s infinite alternate));
    color: $white;
    cursor: pointer;
    position: absolute !important;
    top: 87vh !important;
    left: calc(50% - 28px);
    width: 56px;
    text-shadow: 0 0 4px $theme-color;

    &:hover #down-anim-svg{
      @include vend(filter, drop-shadow(0px 0px 4px #fff));
    }
}

#down-anim-svg {
  @include vend(filter, drop-shadow(0px 0px 2px #000));
  transition: filter .275s linear;
  -webkit-transition: -webkit-filter .275s linear;
  -moz-transition: -moz-filter .275s linear;
  -ms-transition: -ms-filter .275s linear;
  -o-transition: -o-filter .275s linear;
}

// Main
#landing {
    height: 100%;
    width: 100%;
    background-color: rgb(16,19,29);
    position: relative;
    z-index: -4;
    display: block;
    overflow: hidden;
    border-bottom: solid 2px #222;
    box-sizing: content-box;
}

// Image
.landing-img {
    @include vend(transition, opacity 1.5s linear);
    // @include vend(filter, blur(1.25px));
    position: absolute;

    min-height: 100%;
    width: 100%;
}

// White text in landing
#landing-content {
    @include vend(transition, 1s ease-in-out 1.15s);
    z-index: 1;
    opacity: 0;
    color: white;
}

// Landing Tabs
#landing-info {
  @include vendVal(display, flex);
    position: absolute;
    text-align: center;
    width: 100%;
    margin: 0 9%;
    vertical-align: top;
    .landing-tab {
        margin: 0 1.5%;
        width: 38%;
        vertical-align: top;
    }
    .head {
        @include vend(transition, border-bottom .75s linear);
        cursor: pointer;
        font-size: 2.25vh;
        border-bottom: solid 3px rgba(255, 255, 255, 0);
        @media (max-height: 888px) {
          font-size: 2rem;
        }
    }
    .head:hover, .landing-active .head {
        border-bottom-color: rgba(255, 255, 255, 1);
    }

    .full {
        @include vend(transition, .5s);
        @include vend(opacity, 0);
        clear: both;
        margin: 1.7% 14px 0;
        text-align: left;
        font-size: 19px;
        // .quote {
        //     font-style: italic;
        //     text-align: right;
        // }
        // .email-link {
        //     @include vend(transition, text-shadow .3s linear);
        //     color: white;
        //     font-weight: 500;
        // }
        // .email-link:hover {
        //     text-shadow: 0 0 8px $white;
        //     text-decoration: none;
        // }
    }
}

#tab-1 .head {
    text-align: right;
}
#tab-2 .head {
    text-align: left;
}

#img-init {
    z-index: -2;
}

#img-tab-1 {
    z-index: -3;
}
#img-tab-2 {
    z-index: -4;
}

//hide info on phone
@media(max-width: $phone-max) {
  #landing-info,
  #img-tab-1,
  #img-tab-2 {
      display: none !important;
  }
}

@media (max-aspect-ratio: 156/100) {
  .landing-img {
    height: 100%;
    min-width: 100%;
    width: initial;
    right: 0;
  }
}
@media (max-aspect-ratio: 156/100) and (max-height: 1000px) {
  .landing-img {
    height: calc(100% + 150px);
    top: calc(-275px + 27.5%);
  }
  #img-init {
      right: -222px;
  }
}
