// Coffee Purchasing

//// Coffee Header
.head {
    margin-top: 24px;
    font-size: 52px;
    font-family: lato, sans-serif;
    font-weight: 300;
    text-align: center;
    clear: both;
    .sub-head {
        font-size: 21px;
        text-align: inherit;
    }
    .sub-sub-head {
        font-size: 11px;
        text-align: inherit;
    }
}

$tilt-amount: 80px;
.float-fold {
  height: 200px;
  width: 80%;
  margin: 0 auto;

  // tilt each slice (which will also tilt its children)
  .slice {
	   //@include vend(transform, translate3d(0, $tilt-amount ,0));
     @include vend(transform-style, preserve-3d);
     width: 100%;
     height: 100%;
     background-repeat: no-repeat;
  }

  @for $i from 1 to 10 {
    // adjust slice height based on total number of slices
    & > .total-slices-#{$i} {
      height: #{100%/$i};
    }

    .total-slices-#{$i} {
      background-size: auto #{100% * $i};
    }

    @for $j from 1 to ($i + 1) {
      // adjust background position based on slice index
      @if $j == 1 {
        .total-slices-#{$i}.slice-#{$j} {
          background-position: center 0;
        }
      } @else {
        .total-slices-#{$i}.slice-#{$j} {
          background-position: center #{100%/($i - 1)*$j - 100%/($i - 1)};
          @include vend(transform, translate3d(0, 100%,0));
        }
      }
    }
  }
}
