#press {
  text-align: center;
  padding: 20px 0;

  .inner {
    border-top: 1px solid #dfe7ed;
    border-bottom: 1px solid #dfe7ed;
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 5% 0;
    box-sizing: border-box;
    *zoom: 1;

    .press-sect {
      text-align: center;
      vertical-align: top;
      padding: 0 7% 60px;

      .press-icon {
        margin: 0 auto 20px;
        background-color: $white;
        background-blend-mode: luminosity;

        .text-behind-logo {
          display: none;
        }
        &.landing-icon-journal-tribune {
          background-image: url("http://www.journaltribune.com/styles/jtfooter3.png");
          height: 100px;
          width: 250px;
        }
        &.landing-icon-seacoast {
          background-image: url("http://www.seacoastonline.com/Global/images/head/nameplate/SeacoastOnline_logo.png");
          height: 100px;
          width: 250px;
        }
      }

      .quote {
        display: block;
        color: $theme-color;
        font-weight: 300;
        font-size: 16px;
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        margin-bottom: 0;
        text-align: center;
        min-height: 140px;

        .author {
          position: absolute;
          color: theme-color-fade(.8);

          display: block;
          width: 100%;
          margin-top: 20px;
          text-align: center;
          font-style: italic;
          bottom: 0;
        }

        .fa-quote-left {
          position: absolute;
          color: theme-color-fade(.1);
          left: -28px;
          top: -2px;
          font-size: 32px;
        }
      }

      @media (min-width: 550px) {
        float: left;
        box-sizing: border-box;
      }
    }

    &:before,
    &:after {
      content: "";
      display: table;
    }
    &:after {
      clear: both
    }
  }
}
