#press {
  text-align: center;
  padding: 20px 0;

  .inner {
    border-top: 1px solid #dfe7ed;
    border-bottom: 1px solid #dfe7ed;
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 5% 0;
    box-sizing: border-box;
    *zoom: 1;

    .press-sect {
      text-align: center;
      vertical-align: top;
      padding: 0 7% 60px;

      .press-icon {
        margin: 0 auto 20px;
        background-color: $white;
        background-blend-mode: luminosity;

        .text-behind-logo {
          display: none;
        }
        &.landing-icon-journal-tribune {
          background-image: url("/images/journal_tribune.png");
          height: 100px;
          width: 250px;
        }
        &.landing-icon-seacoast {
          background-image: url("/images/sea_coast_online.png");
          height: 100px;
          width: 250px;
        }
      }

      .quote {
        display: inline-block;
        color: $theme-color;
        font-weight: 300;
        font-size: 16px;
        margin-bottom: 0;
        text-align: center;
        min-height: calc(225px - 7.275vw);

        .fa-quote-left {
          position: absolute;
          color: theme-color-fade(.1);
          left: -28px;
          top: -2px;
          font-size: 32px;
        }

        .author {
          color: theme-color-fade(.8);
          display: inline-block;
          font-weight: 300;
          font-size: 16px;
          font-style: italic;
          text-align: center;
          white-space: nowrap;
          width: 100%;
          bottom: 0;
          left: 0;
          position: absolute;
        }
      }

      .author {
        color: theme-color-fade(.8);
        display: inline-block;
        font-weight: 300;
        font-size: 16px;
        font-style: italic;
        text-align: center;
        white-space: nowrap;
        width: 100%;
      }

      @media (min-width: 550px) {
        float: left;
        box-sizing: border-box;
      }
    }

    &:before,
    &:after {
      content: "";
      display: table;
    }
    &:after {
      clear: both
    }
  }
}
