// Title section
.place-holder.no-show {
    display: none;
}
.title, .place-holder {
    height: #{$title-height}vh;
    min-height: 80px;
    width: 100%;
}
.title {
    background-color: $theme-color !important;
    background-size: 0 !important;
    left: 0;
    padding: 2px 0;
    margin-bottom: 0;
    z-index: 6;
    box-shadow: 0 0 4px rgba(16,19,29,0.14), 0 4px 8px rgba(16,19,29,0.28);
    text-align: center;
    color: $white;
    white-space: nowrap;
    max-width: 100%;

    .title-section {
        @include vend(transition, (opacity .5s ease-in-out, text-shadow .25s ease-in-out));
        opacity: 0;
        min-width: 100px;
        width: 6.5%;
        font-size: 2rem;
        font-weight: 500;
        cursor: pointer;
        &:hover {
          text-shadow: 0 -1.5px 3px $white;
        }
    }
    .title-main {
        @include vend(transform, translateY(-50%));
        top: 50%;
        max-height: 100%;
        max-width: 100%;
        visibility: hidden;
    }
    .title-main, .title-section {
        display: inline-block;
    }
    .paper-resume-wrapper {
        @include vend(overflow, hidden);
        position: absolute;
        top: calc(100% + 30px);
        right: 0;
        height: 100px;
        width: 125px;
        opacity: .999; // super odd fix to webkit bug

    .paper-resume {
            @include vend(transform, rotateZ(90deg) translateY(calc(-105% - 31px)));
            @include vend(transition, (transform .35s ease-in-out, background-color .25s ease-in-out));
            display: block;
            background-image: url('/images/paper_resume.png');
            background-size: cover;
            top: 5px;
            left: 5px;
            height: calc(100% - 10px);
            width: 90px;
            border-radius: 50%;
            background-color: $white;
            box-shadow: 0 0 0 5px #4a4849;
            cursor: pointer;

            &:hover {
                background-color: #B5C3EC;
            }
        }
    }
    &.sticky {
        top: 0;
        position: fixed;
        .paper-resume {
            @include vend(transform, rotateZ(0));
        }
    }
    &.show-logo {
        .title-main {
            visibility: visible;
        }
        .title-section {
            opacity: 1;
        }
    }
    @media (max-width: $phone-max) {
      .title-section {
        display: none;
      }
    }
}
