ul#title
  li.title-section.scroll-to(data-scroll-to="#videos")  Videos
  li.title-section.scroll-to(data-scroll-to="#photos")  Photos
  img#title-main(src= locals.siteHeader.image)
  li.title-section.scroll-to(data-scroll-to="#press")  Press
  li.title-section.scroll-to(data-scroll-to="#contact") Contact
  .paper-resume-wrapper
    a.paper-resume(href= locals.siteHeader.resumeLink, target="_blank")
#mobile-about-me-container
  .mobile-about-me-shadow.top
  .scroll-preventer.top
  #mobile-about-me-content
    each line in locals.siteHeader.mobileAbout
      |  #{line} #[br]
  .mobile-about-me-shadow.bottom
  .scroll-preventer.bottom
